/* GLOBAL */

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  --body: #1c1c1f;
  --black: #020202;
  --white: #f0f0f0;
  --accent-color: #f2a71d;

  --primary-font: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--body);
  color: var(--white);
  font-family: var(--primary-font);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem;
}

h1 {
  font-size: 1.875rem;
  text-align: center;
}

.back-link {
  font-size: 1.25rem;
  color: var(--accent-color);
  font-weight: 500;
  text-decoration: none;
  transition: opacity 0.4s;
}

.back-link:hover {
  opacity: .80;
}

svg {
  width: 1.75rem;
  height: 1.75rem;
  vertical-align: middle;
}

@media (max-width: 36rem) {
  h1 {
    font-size: 1.5rem;
  }
}