/* GLOBAL */

:root {
  /* Colors */
  --body: #0a0d18;
  --black: #020202;
  --white: #f0f0f0;
  --primary-color: #f2a71d;

  /* Sizes */
  --size8: 0.5rem;
  --size10: 0.625rem;
  --size12: 0.75rem;
  --size14: 0.875rem;
  --size16: 1rem;
  --size18: 1.125rem;
  --size20: 1.25rem;
  --size22: 1.375rem;
  --size24: 1.5rem;
  --size26: 1.625rem;
  --size28: 1.75rem;
  --size30: 1.875rem;
  --size34: 2.125rem;
  --size36: 2.25rem;
  --size40: 2.5rem;
  --size60: 3.75rem;
  --size80: 5rem;
  --size100: 6.25rem;
  --size120: 7.5rem;

  /* Media Query */
  /* 820px */
  --tablet: 51.25rem;
  /* 576px */
  --mobile: 36rem;

  /* Animation */
  --animation-fade-in: fade-in 0.4s backwards 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--body);
  color: var(--white);
  font-family: system-ui;
}

a {
  color: var(--primary-color);
  font-weight: 500;
}

button {
  cursor: pointer;
}

button,
input,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  letter-spacing: 0.025em;
}

img {
  display: block;
}

p {
  text-wrap: balance;
  line-height: 1.4;
  letter-spacing: 0.025em;
  font-weight: 300;
  opacity: 0.85;
}

ul {
  list-style-type: none;
}

li {
  line-height: 1.4;
  letter-spacing: 0.025em;
  font-size: var(--size20);
  font-weight: 300;
  opacity: 0.85;
}

li:not(:last-child) {
  margin-bottom: var(--size40);
}

.primary-section {
  padding: var(--size80) var(--size40);
}

.secondary-section {
  background-color: #1a1f2c;
  padding: var(--size120) var(--size40);
}

.article {
  border: 2px solid var(--primary-color);
  border-radius: var(--size10);
  padding: var(--size20);
}

.article:not(:last-child) {
  margin-bottom: var(--size80);
}

.article-title {
  margin-bottom: var(--size40);
}

.large-container {
  max-width: 87.5rem;
  margin: 0 auto;
  position: relative;
}

.small-container {
  max-width: 70rem;
  margin: 0 auto;
  position: relative;
}

.checkbox {
  border: 0;
  outline: 0;
  width: var(--size24);
  height: var(--size24);
  accent-color: var(--primary-color);
  cursor: pointer;
  margin-right: 5px;
  transform: translateY(3px);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

/* HERO */

.hero .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--size20);
  padding: var(--size40) 0;
}

.main-title {
  font-size: var(--size60);
  line-height: 1.1;
  max-width: 500px;
}

.sub-title {
  font-size: var(--size24);
  margin-top: var(--size10);
}

.sub-title-span {
  color: var(--primary-color);
  font-weight: 500;
  opacity: 1;
}

.hero-image {
  width: 100%;
  height: auto;
}

/* BUTTON */

.clear-button {
  border: none;
  outline: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-size: var(--size18);
  font-weight: bold;
  color: var(--black);
  padding: var(--size12) var(--size24);
  border-radius: var(--size10);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  background: var(--primary-color);
  z-index: 1;
  transition: opacity 0.4s;
}

.clear-button:hover {
  opacity: 0.8;
}

.clear-button:active {
  top: 2px;
}

/* PROGRESS BAR */

.container-circle {
  position: fixed;
  bottom: var(--size20);
  right: var(--size40);
  z-index: 2;
}

circle {
  fill: #1a1f2c;
  stroke: #333843;
  stroke-width: 10;
  transform: rotate(-90deg);
  transform-origin: 50%;
  stroke-dasharray: 100;
  opacity: .85;
}

circle:nth-child(2) {
  stroke: #15c58a;
  stroke-dasharray: 0 100;
  transition: stroke-dasharray 0.3s ease;
}

.percentage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--size20);
  font-weight: 700;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-5px);
}

/* FOOTER */

.footer {
  padding: var(--size80) var(--size40);
}

.footer .row {
  display: grid;
  gap: var(--size20);
  width: fit-content;
}

.footer p {
  font-size: var(--size18);
}

.footer .icons {
  display: flex;
  width: fit-content;
  gap: var(--size10);
}

.footer a {
  color: var(--white);
  transition: color 0.4s;
}

.footer a:hover {
  color: var(--primary-color);
}

.github-icon,
.linkedin-icon {
  width: var(--size40);
  height: var(--size40);
}

@media (max-width: 51.25rem) {
  .primary-section {
    padding: var(--size40) var(--size20);
  }

  .secondary-section {
    padding: var(--size60) var(--size20);
  }

  .hero .row {
    grid-template-columns: 1fr;
    gap: var(--size40);
    padding: var(--size20) 0;
  }

  .footer {
    padding: var(--size40) var(--size20);
  }
}

@media (max-width: 36rem) {
  li {
    font-size: var(--size18);
  }

  .article:not(:last-child) {
    margin-bottom: var(--size40);
  }

  .main-title {
    font-size: var(--size40);
  }

  .sub-title {
    margin-top: var(--size20);
    font-size: var(--size18);
  }

  .clear-button {
    width: 100%;
  }

  .clear-button:hover {
    opacity: 1;
  }

  .footer p {
    font-size: var(--size16);
  }

  .footer a:hover {
    color: var(--white);
  }

  .container-circle {
    right: var(--size10);
  }
}